# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/

# Environment secrets
.env
*.local

# Editor folders
.vscode/
.idea/
node_modules.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*